@import "normalize";
@import "skeleton";


/**** OVERALL STYLING ****/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Bhaina', cursive;
  font-weight: regular;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.15em;
}
.warning {
  font-size: 10px;
}

/**** HEADER STYLING ****/
.header {
  margin: 0 0 50px 0;
  padding: 15px 0 45px 0;
  background: #c2d4d4 url("../images/blue.png");
  p {
    text-align: center;
    margin: 35px 0 0 0;
    color: #000;
  }
}
.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  img {
   width: 200px;
   height: auto;
   margin: 0 auto;
   display: block;
 }
}

/**** PHOTO FEED STYLING ****/
.photo-feed {
  h5, p {
    text-align: center;
  }
}
.som-images {
  list-style: none;

  li {
    display: inline-block;

    img {
      width: 188px;
      height: auto;
    }
  }
}

/**** ABOUT SECTION STYLING ****/
.about {
  background: #c2d4d4 url("../images/blue.png");
  background-repeat: repeat;
  position: relative;

  h4, p {
    color: #000;
  }

  .container {
    height: 100%;
    padding: 30px 0;
  }

  .founder {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px 0 0 0;
  }
  .founder-image {
    background-image: url("../images/founder.jpg");
  }

  .about-text {
    display: inline-block;
    width: 66%;
    vertical-align: top;
    margin: 30px 0 0 50px;
  }

  img {
    position: absolute;
    bottom: 0;
  }

}

/**** FIFTY STATES MAP ****/
.fifty-states {
  margin: 50px 0 0 0;
  padding: 75px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f58728+0,f37438+100 */
  background: #f58728; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f58728 0%, #f37438 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f58728 0%,#f37438 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f58728 0%,#f37438 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58728', endColorstr='#f37438',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  h4, p {
    text-align: center;
    color: #fff;
  }

  #world-map {
    width: 100%;
    height: 400px;
    padding: 30px 0;
  }
}

/**** FOOTER STYLING ****/
footer {
  background: #000;
  color: #fff;
  padding: 15px 0 0 0;
  p {
    font-size: .85em;
  }
}
