@import "normalize";
@import "skeleton";


/**** OVERALL STYLING ****/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Bhaina', cursive;
  font-weight: regular;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.15em;
}
.warning {
  font-size: 10px;
}

/**** HEADER STYLING ****/
.header {
  margin: 0 0 50px 0;
  padding: 15px 0 45px 0;
  background: #c2d4d4 url("../images/SpoonGraphics-Topographic-Map-5.jpg");
  p {
    text-align: center;
    margin: 35px 0 0 0;
  }
}
.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  img {
   width: 200px;
   height: auto;
   margin: 0 auto;
   display: block;
 }
}

/**** PHOTO FEED STYLING ****/
.photo-feed {
  h5, p {
    text-align: center;
  }
}
.som-images {
  list-style: none;

  li {
    display: inline-block;

    img {
      width: 188px;
      height: auto;
    }
  }
}

/**** ABOUT SECTION STYLING ****/
.about {
  background: #c2d4d4 url("../images/SpoonGraphics-Topographic-Map-5.jpg");
  background-repeat: repeat;
  position: relative;
  margin: 50px 0 0 0;

  .container {
    height: 100%;
    padding: 30px 0;
  }

  .founder {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px 0 0 0;
  }
  .founder-image {
    background-image: url("../images/founder.jpg");
  }

  .about-text {
    display: inline-block;
    width: 66%;
    vertical-align: top;
    margin: 30px 0 0 50px;
  }

  img {
    position: absolute;
    bottom: 0;
  }

}

/**** FIFTY STATES MAP ****/
